@charset "UTF-8";
 .modal-dialog {
      max-width: 800px; /* Adjust max width as needed */
    }

#logoutLink,#welcomeMessage{
	cursor:pointer;
}
.navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
.logo{
	height:50px;
}
.closebtn {
    position: absolute; /* Absolute position */
    top: 0; /* Position at the top */
    right: 25px; /* Position on the right side */
    font-size: 36px; /* Increase font size */
    margin-left: 50px; /* Add margin */
}

.closebtn:hover {
    background-color: transparent; /* On hover, make background transparent */
    color: #000; /* Change color to black */
}

 body {
      font-family: Arial, sans-serif;
      	background-image:linear-gradient(to bottom right, #3e5fe6, #010e2e);

      margin-top: 54px;
      padding: 0;
    }

    .book-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
    }

    .book-card {
      width: 300px;
      margin: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .book-image {
      width: 100%;
      border-radius: 5px;
      aspect-ratio:2/2.5;
    }

    .book-title {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }

    .book-author {
      font-size: 16px;
      margin-top: 5px;
    }

    .book-genre {
      font-size: 14px;
      color: #666;
      margin-top: 5px;
    }

    .book-description {
      margin-top: 10px;
    }
    .abc{
background-image: linear-gradient(to bottom right, #010e2e, #3e5fe6);
    }
    .modal-body{
    
    display:grid;
    grid-template-columns:auto auto;
    }
    .modal-content{
    border-radius:15px !important}