@charset "UTF-8";
 body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom right, #bec0d1, #2c5ba8);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        width: 400px;
        padding: 40px;
        background-image: linear-gradient(to bottom right, #2c5ba8, #bec0d1);
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #004b80;
        font-family:cursive;
    }
    label {
        display: block;
        margin-bottom: 12px;
    }
    input[type="email"],
    input[type="text"]
        {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #654321; /* Brown border color */
        border-radius: 6px;
        box-sizing: border-box;
        background-color: #faf0e6; /* Off-white input background */
        font-size: 16px;
    }
    input[type="submit"] {
        font-family: cursive;
        width: 40%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #004b80;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 16px;
        color: #F5BD8A;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;
        outline: none;
        background-color:#002766;	
    }
    .btn-group {
        display: flex;
        justify-content: space-between;
    }
    
    input[type="submit"]:hover 	 {
        background-color:#003d99; /* Darker shade of brown on hover */
    }
    .swit {
    text-align: center;
}
a{
	    color: #002766;
}
a:hover{
	    color: #E88840;
}
label{
	    font-weight: 600;
}

.require{
	color:red;
}