@charset "UTF-8";
/* Login.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;
}

.main {
	background-image: linear-gradient(to bottom right, #bec0d1, #2c5ba8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5BD8A;
}

.sub_div {
    display: grid;
    background-image: linear-gradient(to bottom right, #2c5ba8, #bec0d1);
    padding: 20px;
    border-radius: 12px 0px 0px 12px;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.sub_div_child{
box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;}
.form {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius:5px;
}

h1 {
    font-family:cursive;
	margin-top:20px;
    text-align: center;
    color: #004b80;    
    font-size:50px
}

.swit {
    text-align: center;
}
.login_btn:hover {
	font-family: cursive;
	background-color: #75c6ff;
    border-radius: 10px;
    width: 70%; /* Make the button width 100% */
    margin-left:50px;
    margin-top: 20px;
    border: 1px solid #002766;
    color: #82512C;
    font-weight: 600;
}
.login_btn {
	font-family: cursive;
    background-color: #002766;
    border-radius: 10px;
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid #004b80;
    color: #F5BD8A;
    font-weight: 600;
     box-shadow: 0 0 10px #004b80;
    
}
.mainForm{
	margin: 0px 16px;
}

img {
    border-radius: 0px 12px 12px 0px;
    width: 400px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

label{
	    font-weight: 600;
}
a{
	    color: #002766;
}
a:hover{
	    color: #E88840;
}
.require{
	color:red;
}